@charset "UTF-8";


/* Typicl Device Breakpoints
------------------------------
Mobile: Até 768px
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080
*/

:root {
    --cor0: #5396E1;
    --cor1: #106FDB;
    --cor2: #0C55A8;
    --cor3: #223D5C;
    --cor4: #062E5C;
    --cor4-transparent: #062e5cbc;
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, #5396E1, #0C55A8);
    }
    #login {
        width: 80vw;
        height: 300px;
    }

    .image-login {
        float: left;
        width: 30%;
        height: 100%;
    }
    
    .form-login {
        float: right;
        width: 70%;
        height: 100%;
    }

    .form-login h1 {
        font-size: 1.5em;
    }

    .form-login p {
        font-size: 1em;
        margin: 10px 0px;
    }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
    body {
        background-image: linear-gradient(to bottom, #5396E1, #0C55A8);
    }

    #login {
        width: 990px;
        height: 350px;
    }

    .image-login {
        float: right;
        width: 50%;
        height: 100%;
    }
    
    .form-login {
        float: left;
        width: 50%;
    }

    .form-login h1 {
        font-size: 2em;
    }

    .form-login p {
        font-size: 1.1em;
        margin: 10px 0px;

    }
}