@charset "UTF-8";

/* Paleta de cores */

:root {
    --cor0: #5396E1;
    --cor1: #106FDB;
    --cor2: #0C55A8;
    --cor3: #223D5C;
    --cor4: #062E5C;
    --cor4-transparent: #062e5cbc;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body  {
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--cor4-transparent);
}

.image-login {
    display: block;
    background: var(--cor1) url(../assets/images/pexels.jpeg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

.form-login {
    display: block;
    padding: 10px;
}
